html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-family: "Merriweather", serif;
    font-weight: bold;
    top: 0;
    left: 0;
    height: 16vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-items: center;
    gap: 400px;
    background-color: black;
    color: white;
    z-index: 5;
}
img{
    position: relative;
    left: 0;
    justify-content: center;
    border-radius: 50%;
    height: 100px;
    width: 110px;
    padding: 5px 10px;      
}
h1{
    font-size: 45px;
    text-align: center;
}
h2{
    font-size: 35px;
    text-align: center;
    font-family: "Merriweather", serif;
}
h3{
    font-size: 25px;
    text-align: center;
    font-family: "Varela Round", sans-serif;
}
.home{
    background-image: url("https://i.pinimg.com/736x/22/c9/52/22c952a1dbe3f1d8d19b2192677a2b35.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
    color: #333333;
    padding: 120px 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 16vh;
    z-index: 0;
    animation: fadeIn 1.5s ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
}
nav{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #333333;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 6vh;
    top: 16vh;
    z-index: 2;
    position: sticky;
    width: 100%;
    font-size: 17px;
}
nav ul{
    color: white;
    gap: 25px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
nav ul li a{
    color: #F1C27D;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
nav ul li a:hover{
    transform: scale(1.1);
    transition: 1s ease;
    color: #A8DADC;
    text-decoration: 1.5px solid underline;
}
.gallery {
    color: black;
    padding: 120px 50px;
    background-image: url("https://i.pinimg.com/736x/a1/24/6c/a1246c0dd890fb7be45774018576a7f3.jpg");
}
.art-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
    padding-left: 40px;
    margin-top: 30px;
}
.art-piece{
    transform: translateX(-100px);
    animation: slideIn 1s forwards;
    top: 70px;
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    color: white;
    height: 400px;
    width: 400px;
    overflow: hidden;
    border-radius: 30px;
}
.art-piece img{
    animation: slideInRight 1.7s ease-in-out;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
.art-piece img:hover{
    transform: scale(1.07);
    transition: 1s ease;
    border-radius: 30px;
}
.art-detail{
    font-family: "Varela Round", sans-serif;
    margin-top: 10px;
    font-weight: bold;
    background-color: plum;
    color: black;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
}
.art-detail:hover{
    background-color: grey;
    color: white;
    transform: scale(1.06);
    transition: 1s ease;
}
h3 a{
    color: #1A3E59;
    list-style-type: none;
    text-decoration: none;
}
.ah3{
    animation: bounce 2.5s infinite;
}
@keyframes bounce {
    50% {
        transform: translateY(-30px);
    }
}
.ah3:hover{
    transform: scale(1.1);
    transition: 1s ease;
    text-decoration: 2px underline;
}
.art-detail p a{
    font-family: "Varela Round", sans-serif;
    color: black;
    list-style-type: none;
    text-decoration: none;
}
.art-detail p a:hover{
    color: white;
    text-decoration: 1px underline;
}
hr{
    height: 4px;
    border-color: black;
    background-color: black;
}
.exhibitions{
    background-image: url("https://i.pinimg.com/736x/26/9e/5a/269e5ab5e6df4005f9e2d8643030873a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
    font-weight: bold;
    color: black;
    height: 750px;
    width: 100%;
}
.exhibitionsbox{
    display: flex;
    padding: 50px 20px;
    gap: 50px;
    color: #555555;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
.ongoing{
    width: 600px;
    height: 500px;
    padding: 20px; 
    border-radius: 10px;
    text-align: center;
    background-color: plum;
    animation: slideInLeft 1.7s ease-in-out;
}
.upcoming{
    width: 600px;
    height: 500px;
    padding: 20px; 
    border-radius: 10px;
    text-align: center;
    background-color: plum;
    animation: slideInRight 1.7s ease-in-out;
}
.ongoing h2, .upcoming h2{
    color: black;
    text-decoration: 3px underline;
}
.ongoing p, .upcoming p{
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    font-display: dark;
    color: #777777;
    font-size: 30px;
    padding: 140px;
}
.about{
    background-image: url("https://i.pinimg.com/736x/25/7b/4b/257b4bf57a9ae17860dcdce3921d548d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #333333;
    padding: 120px;
    height: 900px;
    font-size: 25px;
    font-family: "Varela Round", sans-serif;
}
.story{
    display: flex;
    padding: 50px 20px;
    gap: 50px;
    color: #5A5A5A;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
.storybox{
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 570px;
    padding: 10px; 
    border-radius: 10px;
    text-align: center;
    background-color: plum;
    animation: slideInLeft 1.7s ease-in-out;
}
.storypara{
    text-align: center;
    padding: 20px 20px;
    font-size: 25px;
    font-weight: bold;
}
.owner{
    font-size: 15px;
    width: 450px;
    height: 400px;
    padding: 20px; 
    border-radius: 30px;
    text-align: center;
    background-color: black;
    animation: slideInRight 1.7s ease-in-out;
}
.about-owner p a{
    font-family: "Varela Round", sans-serif;
    color: black;
    list-style-type: none;
    text-decoration: none;
}
.about-owner{
    font-family: "Varela Round", sans-serif;
    margin-top: 10px;
    background-color: plum;
    color: black;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
}
.about-owner:hover{
    background-color: grey;
    color: white;
    transform: scale(1.06);
    transition: 1s ease;
}
.about-owner p a:hover{
    color: white;
    text-decoration: 1px underline;
}
.owner img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}
.owner img:hover{
    transform: scale(1.07);
    transition: 1s ease;
    border-radius: 30px;
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
}
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
}
@media (max-width: 543px){
    header{
        flex-direction: column;
        gap: 20px;
        height: auto;
    }
    img{
        height: 80px;
        width: 80px;
    }
    nav{
        flex-direction: column;
        gap: 10px;
        height: auto;
    }
    nav ul{
        flex-direction: column;
        gap: 10px;
    }
    nav ul li a{
        font-size: 14px;
    }
    .home{
        padding: 80px 10px;
    }
    .gallery{
        padding: 20px 10px;
    }
    .art-grid{
        grid-template-columns: 1fr;
        padding-left: 0;
    }
    .art-piece{
        width: 100%;
        height: auto;
    }
    .exhibitions{
        height: auto;
        padding: 20px;
    }
    .exhibitionsbox{
        flex-direction: column;
        gap: 20px;
    }
    .ongoing, .upcoming{
        width: 100%;
        height: auto;
        padding: 15px;
    }
    .ongoing p, .upcoming p{
        font-size: 20px;
        padding: 20px;
    }
    .about{
        padding: 30px 10px;
        height: auto;
        font-size: 18px;
    }
    .story{
        flex-direction: column;
        gap: 20px;
    }
    .storybox{
        width: 100%;
        height: auto;
    }
    .owner{
        width: 100%;
        height: auto;
        padding: 15px;
    }
}
.footer1{
    justify-content: center;
    padding: 200px 20px;
    height: 500px;
    background-size: cover;
    margin-top: 0;
    width: 100%;
    font-size: 25px;
    background-image: url("https://i.pinimg.com/736x/ed/c6/8f/edc68fa0d917de9df290f4d57458ccbb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    font-family: "Varela Round", sans-serif;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer-left, .footer-right{
    padding: 50px;
    font-size: 18px;
    width: 50%;
}
.footer-left{
    text-align: left;
}
.footer-right{
    text-align: right;
}
.footer2{
    font-family: "Varela Round", sans-serif;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 20px;
    height: 10vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 543px) {
    .footer1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        height: auto; 
        font-size: 18px; 
        text-align: center;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        text-align: center;
    }
    .footer-left, .footer-right {
        width: 100%;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .footer2 {
        font-size: 16px;
        padding: 15px 10px;
        height: auto; 
        text-align: center;
        line-height: 1.5;
    }
}
h6 a{
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-decoration: none;
    list-style-type: none;
    color: white;
}
h6 a:hover{
    transform: scale(1.05);
    transition: 1s ease;
    color: white;
    text-decoration: 2px underline;
}